.container {
    position: relative;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

header img {
    width: 250px;
    height: 50px;
}

#header-image-container {
    width: 50%;
}

.header-container {
    position: fixed;
    display: flex;
    width: 80%;
    z-index: 100;
}

nav {
    width: 50%;
}

nav ul {
    display: flex;
    justify-content: flex-end;
}

nav li {
    list-style-type: none;
    margin-left: 20px;
}

a {
    color: black;
    text-decoration-line: none;
}

main {
    position: absolute;
    top: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1 {
    font-size: 24px;
}

#form-container {
    margin-top: 10px;
}

#form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
    width:250px;
    height: 24px;
    margin-bottom: 15px;
    padding-left: 4px;
}

button {
    width: 160px;
    height: 34px;
    background-color: #f1c40f;
    transition: background-color 0.5s ease;
    font-weight: 900;
    border: 1px solid white;
    border-radius: 2px;
}

button:hover {
    background-color: orange;
    cursor: pointer;
}

.content-container {
    width: 80%;
    margin-top: 80px;
}

.row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

span {
    width: 80px;
    margin-right: 60px;
    text-align: center;
    color: orange;
}

.row div {

    width: 100%;
}

h2 {
    margin-bottom: 0px;
}

p {
    margin-top: 0px;
    margin-left: 0px;
    padding-left: 0px;
}

#video-section {
    margin-top: 80px;
}

#video {
    justify-content: center;
}

#pricing {
    margin-top: 60px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    margin: 5px 10px 5px 1px;
    justify-content: center;
    border-radius: 3px;
}

.card h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
    width: 100%;
    margin: 0;
    vertical-align: middle;
    height: 50px;
    text-align: center;
}

.card h4 {
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.card button {
    margin-bottom: 10px;
    width: 110px;
    font-size: 16px;
    font-weight: 100;
}

@media screen and (max-width: 730px) {
    nav {
        display: flex;
        justify-content: flex-end;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        margin-left: 0px;
    }


    section#pricing .row {
        flex-direction: column;
    }

    .row div {
        width: 300px;
    }
}

@media screen and (max-width: 620px) {
    .container {
        width: 90%;
    }

    .header-container {
        flex-direction: column;
        justify-content: center;
    }

    #header-image-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    nav {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        margin-left: 0px;
    }

    .content-container {
        width: 100%;
    }

    main {
        top: 120px;
    }
    
    span {
        display: none;
    }
    
    .row {
        justify-content: center;

    }

    .row div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    p {
        text-align: center;
    }
}