body {
    background-color: #eee;
}

header img {
    width: 250px;
    height: 50px;
}

header {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 10000000000000000;
    right: 0;
    top: 0;
    background-color: #eee;
}

nav {
    display: flex;
    width: 35%;
}

nav ul {
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}

nav li {
    list-style-type: none;
}

a {
    color: black;
    text-decoration-line: none;
}

.container {
    position: relative;
    top: 70px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    z-index: 0;
}

#title-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1 {
    font-size: 24px;
}

#form-container {
    margin-top: 10px;
}

#form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
    width:250px;
    height: 24px;
    margin-bottom: 15px;
    padding-left: 4px;
}

button {
    width: 160px;
    height: 34px;
    background-color: #f1c40f;
    transition: background-color 0.5s ease;
    font-weight: 900;
    border: 1px solid white;
    border-radius: 2px;
}

button:hover {
    background-color: orange;
    cursor: pointer;
}

section {
    margin-top: 80px;
}

.content-container {
    width: 80%;
    margin: 0 auto;
}

.row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.icon-container {
    width: 80px;
    margin-right: 60px;
    text-align: center;
    color: orange;
}

.row div {
    width: 100%;
}

h2 {
    margin-bottom: 0px;
}

p {
    margin-top: 0px;
    margin-left: 0px;
    padding-left: 0px;
}

#video-section {
    margin-top: 80px;
}

#video {
    justify-content: center;
}

#pricing {
    margin-top: 60px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    margin: 5px 10px 5px 1px;
    justify-content: center;
    border-radius: 3px;
}

.card h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
    width: 100%;
    margin: 0;
    vertical-align: middle;
    height: 50px;
    text-align: center;
}

.card h4 {
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.card button {
    margin-bottom: 10px;
    width: 110px;
    font-size: 16px;
    font-weight: 100;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #ddd;
    padding: 20px;
}

footer span {
    width: auto;
    margin-top: 5px;
    color: #444;
}

footer a {
    margin-left: 20px;
}

@media screen and (max-width: 730px) {
    .content-container {
        width: 100%;
    }

    .container {
        width: 100%;
    }

    nav {
        display: flex;
        justify-content: flex-end;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin-left: 0px;
    }


    section#pricing .row {
        flex-direction: column;
    }

    div .card {
        width: 300px;
    }
}

@media screen and (max-width: 620px) {
    .container {
        width: 100%;
    }

    header {
        flex-direction: column;
        justify-content: center;
    }

    #header-image-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin-left: 0px;
    }

    .container {
        top: 120px;
    }

    .content-container {
        width: 100%;
    }

    .icon-container {
        display: none;
    }

    .row {
        justify-content: center;

    }

    .row div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    p {
        text-align: center;
    }
}